{% extends 'base.html.twig' %}

{% block title %}Курсы/StudyOn{% endblock %}

{% block body %}
    <div class="row mb-5">
        <div class="col-12">

            <div class="row mb-2">
                <div class="col-12">
                    <h1 class="text-center">Курсы</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-12" id="list_course">
                    <!-- List course -->
                    {% for course in courses %}

                        <div class="row">
                            <div class="col-12">
                                <div class="card w-100 mb-2">


                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <h5 class="card-title">
                                                    <a href="{{ path('course_show', {'id': course.id}) }}" class="course_title">
                                                        {{ course.title }}
                                                    </a>
                                                </h5>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-12">
                                                <p class="card-text">{{ course.description }}</p>
                                            </div>
                                        </div>

                                        {% if course.type != "free" %}
                                            <hr/>
                                        {% endif %}

                                        <div class="row">
                                            {% if course.type == "rent" and course.expires_at != "" %}
                                                <div class="col-6">
                                                    <p class="course_rented card-text text-left">Арендовано до {{ course.expires_at|date("Y-m-d H:m") }}</p>
                                                </div>
                                                <div class="col-6">
                                                    <p class="course_cost card-text text-right">Цена: {{ course.price }} руб.</p>
                                                </div>
                                            {% else %}

                                                {% if course.type == "buy" and course.purchased %}
                                                    <div class="col-6">
                                                        <p class="course_purchased card-text text-left">Куплено</p>
                                                    </div>
                                                    <div class="col-6">
                                                        <p class="course_cost card-text text-right">Цена: {{ course.price }} руб.</p>
                                                    </div>
                                                {% else %}

                                                    {% if course.price is not null %}
                                                        <div class="col-12">
                                                            <p class="course_cost card-text text-right">Цена: {{ course.price }} руб.</p>
                                                        </div>
                                                    {% endif %}

                                                {% endif %}

                                            {% endif %}

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    {% else %}

                        <div class="row">
                            <div class="col-12">
                                <h2>Записи не найдены</h2>
                            </div>
                        </div>

                    {% endfor %}
                    <!-- ./List course -->
                </div>
            </div>

            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <hr/>

                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <a href="{{ path('course_new') }}" class="btn btn-primary w-100" id="add_course">
                            Добавить новый курс
                        </a>
                    </div>
                </div>
            {% endif %}

        </div>
    </div>
{% endblock %}