{% extends 'base.html.twig' %}

{% block title %}{{ course.title }}/StudyOn{% endblock %}

{% block body %}
    <div class="row mb-5">
        <div class="col-12">

            <div class="row">
                <div class="col-12">
                    <h1>Курс. {{ course.title }}</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <p>{{ course.description }}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-12">

                    <div class="row">
                        <div class="col-12">
                            <h3>Уроки</h3>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <ol id="list_lessons">
                                <!-- List lessons -->
                                {% for lesson in lessons %}

                                    <div class="row">
                                        <div class="col-12">

                                            <li>
                                                <a href="{{ path('lesson_show', {'id': lesson.id}) }}"
                                                    class="lesson_title">
                                                    {{ lesson.title }}
                                                </a>
                                            </li>

                                        </div>
                                    </div>

                                {% endfor %}
                                <!-- ./List lessons -->
                            </ol>
                        </div>
                    </div>

                </div>
            </div>

            <hr/>

            <div class="row">

                <div class="col-lg-3 col-md-3 col-sm-6 mt-2">
                    <a href="{{ path('courses_index') }}" class="btn btn-outline-info w-100">
                        Cписок курсов
                    </a>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 mt-2">
                    <a href="{{ path('lesson_new', {'course_id': course.id}) }}" class="btn btn-outline-success w-100"
                        id="add_lesson">
                        Добавить урок
                    </a>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 mt-2">
                    <a href="{{ path('course_edit', {'id': course.id}) }}" class="btn btn-outline-secondary w-100"
                        id="edit_course">
                        Редактировать
                    </a>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 mt-2">
                    {{ include('course/_delete_form.html.twig') }}
                </div>

            </div>

        </div>
    </div>
{% endblock %}