{% extends 'base.html.twig' %}

{% block title %}{{ course.title }}/StudyOn{% endblock %}

{% block body %}
    <h1>Курс. {{ course.title }}</h1>

    <p>{{ course.description }}</p>

    <h3>Уроки</h3>

    <ol>
        {% for lesson in lessons %}
            <li><a href="{{ path('lesson_show', {'id': lesson.id}) }}">{{ lesson.title }}</a></li>
        {% endfor %}
    </ol>

    <hr/>

    <a href="{{ path('courses_index') }}">Вернуться к списку курсов</a>
    <a href="{{ path('lesson_new', {'id': course.id}) }}">Добавить урок</a>
    <a href="{{ path('course_edit', {'id': course.id}) }}">Редактировать</a>
    {{ include('course/_delete_form.html.twig') }}
{% endblock %}
